.casino-cards-bonus-card {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: 782px) {
    max-width: 288px;
  }

  &__inner {
    position: relative;
    margin-top: 100px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 12px;
    padding: 72px 24px 38px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #161D42;
    text-align: center;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
  }

  &__character {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 145px;
    height: 145px;
    pointer-events: none;
    background-image: url('../../../img/bonus-card-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-top: -50px;
    }
  }

  &__title {
    margin: 0 0 16px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
  }

  &__description {
    color: #FF9900;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 28.5px;
    padding: 10px 24px;
    border-radius: 20px;
    background: #A8FF33;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    transition: transform 0.15s ease, opacity 0.15s;

    &:hover {
      transform: translateY(-2px);
      opacity: 0.95;
    }

    &:active {
      transform: translateY(0);
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }
}
